html{color:#000;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}html,body{font-family:sans-serif}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section{margin:0;padding:0}input,select,textarea{font-size:100%}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}abbr,acronym{border:0;font-variant:normal}del{text-decoration:line-through}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}q:before,q:after{content:''}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}a:hover{text-decoration:underline}ins,a{text-decoration:none}
html,body{
    height: 100%;
    font-family: 'Microsoft YaHei',arial,sans-serif;
    font-size: 62.5%;
    color: #333;
}

.todo-wrapper{
    position: relative;
    z-index: 0;
    text-align: center;
    height: 100%;
}
.todo-wrapper:before{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.todo-wrapper:after{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.todoApp{
    display: inline-block;
    width: 600px;
    height: 500px;
    border: 2px solid #CCCC99;
    border-radius: 0 0 16px 16px;
    text-align: center;
    margin: 0 auto;
    background-color: #CCFFFF;
    vertical-align: middle;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
}

.todoApp h1{
    font-size: 4rem ;
    line-height: 6rem;
    font-family: fantasy;
    color: aquamarine;
}

.todoApp .newTask>label{
    font-size: 2rem;
}

.todoApp .newTask .addTodo{
    outline: none;
    border: 1px solid slategray;
    border-radius: 3px;
    width: 300px;
    height: 26px;
    font-size: 1.6rem;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
}

.todoApp .todos{
    width: 500px;
    margin: 30px auto 0 auto;
    text-align: left;
    font-size: 1.6rem;
}

.todoApp .todos>li{
    margin: 20px 0;
    font-size: 1.8rem;
    position: relative;
}

.todoApp .todos>li .delete{
    width: auto;
    height: auto;
    font-size: 1.6rem;
    border-radius: 5px;
    float: right;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
}

.todoApp .todos>li .tick{
    width: 16px;
    height: 16px;
}

.todoApp .todos>li .createdTime{
    font-size: 1rem;
    color: rgba(0,0,0,0.4);
    position: absolute;
    top: 25px;
    left: 0;
}

.todoApp .todos>li .finished,
.todoApp .todos>li .unfinished{
    position: absolute;
    right: 50px;
    font-size: 1.2rem;
    background: springgreen;
    padding: 1px;
    border-radius: 5px;
}

.todoApp .todos>li .unfinished{
    background: crimson;
}

.isFinished{
    text-decoration: line-through;
    color: red;
}

.signInAndSignUp{
    margin: 80px auto 0 auto;
    width: 220px;
    height: 140px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
    padding: 10px 0;
}

.signInAndSignUp .tab{
    margin-bottom: 30px;
}

.signInAndSignUp .tab>label{
    display: inline-block;
    width: 60px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(255,255,0,0.7);
    cursor: pointer;
    padding: 3px 0 3px 10px;
    position: relative;
    text-align: left;
}

.signInAndSignUp .tab>label:hover{
    background: rgba(255,255,0,0.3);
}

.signInAndSignUp .tab input[type='radio']{
    display: none;
}

.signInAndSignUp .tab>label:after {
    content: ' ';
    border-radius: 100px;
    width: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
    box-shadow: inset 0px 16px 40px rgba(0, 0, 0, 0.4);
    height: 16px;
}

.signInAndSignUp .tab>label:before {
    content: ' ';
    border-radius: 100px;
    width: 10px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 999;
    height: 10px;
    background-color: #fff;
    display: none;
}

input[type='radio']:checked + label:before {
     display: block;
 }

.signInAndSignUp input[type='text'],
.signInAndSignUp input[type='password']{
    width: 130px;
}

.signInAndSignUp .formRow{
    margin: 5px 0;
}

.signInAndSignUp .formActions{
    margin-top: 20px;
}

.signInAndSignUp .formActions>input[type='submit']{
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    background-color: rgba(204,153,204,0.7);
    color: #333;
    cursor: pointer;
}

.signInAndSignUp .formActions>input[type='submit']:hover{
    background-color: rgba(204,153,204,0.4);
}

.todo-section{
    position: relative;
}

.todo-section .logout{
    position: absolute;
    top: -60px;
    right: 10px;
}

.todo-section .logout>button{
    border: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    color: #eee;
    background-color: rgba(220,20,60,0.6);
}

.todo-section .logout>button:hover{
    background-color: rgba(220,20,60,1);
}