<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="todo-wrapper">
    <div class="todoApp" id="app">
        <h1>My Todo</h1>
        <div class="newTask">
            <label for="addTodo">添加任务:</label>
            <input id="addTodo" class="addTodo" type="text" v-model="newTodo" @keypress.enter="addTodo">
        </div>
        <ol class="todos">
            <li v-for="todo in todoList" v-bind:class="[todo.done?activeClass:'']">
                <input class="tick" type="checkbox"  v-model="todo.done">
                {{ todo.title }}
                <button class="delete" @click="removeTodo(todo)">删除</button>
                <span class="finished" v-if="todo.done">Finished</span>
                <span class="unfinished" v-else>Unfinished</span>
                <span class="createdTime" v-model="todo.createdAt">
                    <span>---创建时间：</span>
                    {{ todo.year }}年
                    {{ todo.month }}月
                    {{ todo.date }}日
                    {{ todo.hour }}时
                    {{ todo.minute }}分
                    {{ todo.second }}秒
                </span>
            </li>

        </ol>
    </div>
</div>

<script src="bundle.js"></script>
</body>
</html>